.container-fluid.register {
    width: 100%;
    height: 100vh;
    background: url('../img/bg-register.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register-wrapper {
    margin: 100px;
    background-color: white;
    padding: 70px 16px;
    border-radius: 30px;
}

.register-wrapper input {
    margin-bottom: 30px;
}

.logo-solid {
    margin-top: 40vh;
    width: 300px;
    height: 80px;
    
}

.register-wrapper button {
    margin-top: 16px;
}

.form-text.register {
    font-size: 10px;
}